{% extends "layout.html" %}

{% block content %}

<div class="row">

  <div id="charts" class="col-md-9">
  </div>

  <div class="col-md-3">
    <ul class="nav nav-tabs" role="tablist">
{% for id, facet in config.dashboard.charts.perSection.facets %}
{% if loop.first %}
{% set tabClass = ' class=active' %}
{% else %}
{% set tabClass = '' %}
{% endif %}
      <li id="facet-{{id}}" role="presentation"{{tabClass}}>
        <a href="#facet-{{id}}">{{facet.label}}</a>
      </li>
{% endfor %}
    </ul>
{% for id, facet in config.dashboard.charts.perSection.facets %}
{% if not loop.first %}
{% set tableVisibility = ' hidden' %}
{% endif %}
    <table class="table table-striped table-bordered table-hover{{tableVisibility}}" id="dtFacets-{{id}}">
      <thead>
        <tr>
          <th>{{facet.label}}</th>
          <th>Occ</th>
        </tr>
      </thead>
    </table>
{% endfor %}
  </div>

</div>

<div id="filter" class="row">
</div>

<div class="row panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-documents">
      <thead>
        <tr>
          <th>Searchable</th>
{% for id, field in config.documentFields %}
  {% if field.visible %}
          <th>{{ field.label }}</th>
  {% endif %}
{% endfor %}
        </tr>
      </thead>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="assets/js/sugar.min.js"></script>
<script>
// Compute params
var url_query = "{{url.query}}";
var strings = url_query.split(/&amp;/g);
var params = strings.reduce(function (obj, str) {
    var a = str.split('=');
    var k = a[0];
    var v = a[1];
    obj[k] = v;
    return obj;
}, {});
</script>
<script src="assets/js/d3.v3.min.js" charset="utf-8"></script>
<script src="assets/js/c3.min.js"></script>
<script src="assets/js/superagent.js"></script>
<script src="assets/js/dashboard.js"></script>
{% endblock %}
