{% extends "layout.html" %}

{% block content %}
{% if config.pages.chart.help %}
<div class="row lead">
  {{ config.pages.chart.help | markdown }}
</div>
{% endif %}

<div class="row specificHelp">
</div>

<div class="row">
  <div id="charts" class="col-md-9">
  </div>

  <div id="facetsTabs" class="col-md-3">
    <ul id="facets" class="nav nav-tabs" role="tablist"></ul>
  </div>

</div>

<div class="alert alert-info col-md-9 panel-body" id="filters">
  <div v-repeat="filter" class="filter btn btn-default" v-on="click: removeFilter(this)">
    <span v-if="$value">
      <span v-if="$key != 'main'">(($key))</span>
      <strong>(($value))</strong>
      <i class="glyphicon glyphicon-remove"></i>
    </span>
  </div>
  <div class="filter btn btn-warning" v-on="click: removeAllFilters">Remove all filters</div>
</div>

<div class="row panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-documents">
      <thead>
        <tr>
          <th>Searchable</th>
{% for id, field in config.documentFields %}
  {% if field.visible %}
          <th>{{ field.label }}</th>
  {% endif %}
{% endfor %}
        </tr>
      </thead>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="assets/js/sugar.min.js"></script>
<script>
// Compute params
var url_query = window.location.search.slice(1);
var strings = url_query.split(/&amp;/g);
var params = strings.reduce(function (obj, str) {
    var a = str.split('=');
    var k = a[0];
    var v = a[1];
    obj[k] = v;
    return obj;
}, {});
</script>
<script src="assets/js/d3.v3.min.js" charset="utf-8"></script>
<script src="assets/js/c3.min.js"></script>
<script src="assets/js/superagent.js"></script>
<script src="assets/js/dashboard.js"></script>
{% endblock %}
