{% extends "layout.html" %}

{% block content %}

<div id="charts" class="row">

</div>

<div class="row panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-documents">
      <thead>
        <tr>
          <th>Searchable</th>
{% for id, field in config.userfields %}
          <th>{{ field.label }}</th>
{% endfor %}
        </tr>
      </thead>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="assets/js/sugar.min.js"></script>
<script>
// Compute params
var url_query = "{{url.query}}";
var strings = url_query.split(/&amp;/g);
var params = strings.reduce(function (obj, str) {
    var a = str.split('=');
    var k = a[0];
    var v = a[1];
    obj[k] = v;
    return obj;
}, {});
</script>
<script src="assets/js/d3.v3.min.js" charset="utf-8"></script>
<script src="assets/js/c3.min.js"></script>
<script src="assets/js/superagent.js"></script>
<script src="assets/js/dashboard.js"></script>
{% endblock %}
