{% extends "layout.html" %}

{% block content %}
{% if config.pages.display.help %}
<div class="row lead">
    {{ config.pages.display.help | markdown }}
</div>
{% endif %}<div class="title">
    <h2 itemprop="name">
        {{ data.title|d('no title') }}
    </h2>
</div>

<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-borderde table-hover" id="documents">
      <tbody>
{% if config.display.fields %}
  {% for path, label in config.display.fields %}
        <tr>
          <td{% if config.display.fieldsWidth %} style="width:{{config.display.fieldsWidth}}"{% endif %}>{{label}}</td>
          <td>{{data|objectPath(path)}}</td>
        </tr>
  {% endfor %}
{% else %}
  {% set fields = data|flatten %}
  {% for k,v in fields %}
    {% if (k.slice(2).slice(0,3) != '_id') %}
        <tr>
          <td{% if config.display.fieldsWidth %} style="width:{{config.display.fieldsWidth}}"{% endif %}>{{k.slice(2)}}</td>
          <td>{{v}}</td>
        </tr>
    {% endif %}
  {% endfor %}
{% endif %}
      </tbody>
    </table>
  </div>
</div>

{% if config.addlinkstojbj %}
<p id="jbjlink">
  <a class="btn btn-default" href="http://Inist-CNRS.github.io/jbj-playground/?input=" role="button">JBJ</a>
</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
  var values = $('table#documents td:nth-child(2)');
  for (var i=0; i < values.length; i++) {
    var value = values[i];
    var str   = value.innerHTML;
    if (str.slice(0,7) === 'http://' || str.slice(0,8) === 'https://') {
      value.innerHTML = '<a href="' + str + '">' + str + '</a>';
    }
  }

{% if config.addlinkstojbj %}
  var a = $('#jbjlink > a');
  var link = a.attr('href');
  link += window.location.href.replace('.html','.json');
  a.attr('href', link);
{% endif %}
});
</script>
{% endblock %}
