{% extends "layout.html" %}

{% block content %}
{% if config.pages.display.help %}
<div class="row lead">
    {{ config.pages.display.help | markdown }}
</div>
{% endif %}<div class="title">
    <h2 itemprop="name">
        {{ data.title|d('no title') }}
    </h2>
</div>

<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-borderde table-hover" id="documents">
      <tbody>
{% if config.display.fields %}
  {% for path, label in config.display.fields %}
        <tr>
          <td{% if config.display.fieldsWidth %} style="width:{{config.display.fieldsWidth}}"{% endif %}>{{label}}</td>
          <td>{{data|objectPath(path)}}</td>
        </tr>
  {% endfor %}
{% else %}
  {% set fields = data|flatten %}
  {% for k,v in fields %}
    {% if (k.slice(2).slice(0,3) != '_id') %}
        <tr>
          <td{% if config.display.fieldsWidth %} style="width:{{config.display.fieldsWidth}}"{% endif %}>{{k.slice(2)}}</td>
          <td>{{v}}</td>
        </tr>
    {% endif %}
  {% endfor %}
{% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
