{% extends "layout.html" %}

{% block content %}
<div class="title">
    <h2 itemprop="name">
        {{ item.fields.title|d('no title') }}
    </h2>
</div>

<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-documents">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>

      <tbody>
{% for field, value in item.fields %}
{% if config.customFields[field].public %}
        <tr>
            <td>{{config.customFields[field].label|d(field)}}</td>
            <td>{{value}}</td>
        </tr>
{% endif %}
{% endfor %}
{% for field, value in item.content.json %}
        <tr>
            <td>{{field}}</td>
            <td>{{value}}</td>
        </tr>
{% endfor %}
      </tbody>

    </table>
  </div>
</div>

{% endblock %}
