{% extends "layout.html" %}

{% block content %}
<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover" id="dataTables-documents">
      <thead>
				<tr>
{% for field, path in config.userfields %}
          <th>{{ field | capitalize }}</th>
{% endfor %}
          <!-- <th>Publication Year</th>
          <th>Title</th>
          <th>Authors</th>
          <th>Themes</th> -->
				</tr>
			</thead>
		</table>
	</div>
</div>

{% endblock %}


{% block scripts %}
<script>
$(document).ready(function() {
  
  $('#dataTables-documents').dataTable({
    ordering: true,
    ajax: {
      url: "/browse.json",
      dataSrc: "data"
    },
    columns: [
      { data: 'content.json.Py'},
      { data: 'content.json.Ti' },
      { data: 'content.json.Af' },
      { data: 'content.json.DiscESI' },
  ]
  });

});
</script>
{% endblock %}

