{% extends "layout.html" %}

{% block content %}
<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover" id="dataTables-documents">
      <thead>
				<tr>
{% for field, path in config.userfields %}
          <th>{{ field | capitalize }}</th>
{% endfor %}
				</tr>
			</thead>
		</table>
	</div>
</div>

{% endblock %}


{% block scripts %}
<script>
$(document).ready(function() {
  
  $('#dataTables-documents').dataTable({
    ordering: true,
    serverSide: true,
    ajax: "/browse.json",
    columns: [
{% for field, path in config.userfields %}
      { data: '{{ path }}' },
{% endfor %}
  ]
  });

});
</script>
{% endblock %}

