{% extends "layout.html" %}

{% block content %}
<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-documents">
      <thead>
        <tr>
{% for id, field in config.customFields %}
  {% if field.public %}
          <th>{{ field.label }}</th>
  {% endif %}
{% endfor %}
        </tr>
      </thead>
    </table>
  </div>
</div>

{% endblock %}


{% block scripts %}
<script>
$(document).ready(function() {

  var addLink = function addLink(data, type, row) {
    return '<a href="/display/' + row.wid + '.html">' + data + '</a>';
  };

  var fieldNb = 0;
{% for id, field in config.customFields %}
  {% if field.public %}
  fieldNb++;
  {% endif %}
{% endfor %}
  var allFields = [];
  for (var i=0; i<fieldNb; i++) {
    allFields.push(i);
  }

{% set itemsPerPage = config.itemsPerPage if config.itemsPerPage else 0 %}
  $('#dataTables-documents').dataTable({
    search: {
      regex: true
	},
    ordering: true,
    serverSide: true,
    ajax: "/browse.json",
    lengthMenu: [{{ itemsPerPage }}||5,10,25,50,100],
    columns: [
{% for id, field in config.customFields %}
  {% if field.public %}
      { data:
        'fields.{{ id }}'
      },
  {% endif %}
{% endfor %}
    ],
    "columnDefs": [
      {
        "render": addLink,
        "targets": allFields
      }
    ]
  });

});
</script>
{% endblock %}

