{% extends "layout.html" %}

{% block content %}
{% if config.pages.fields.help %}
<div class="row lead">
    {{ config.pages.fields.help | markdown }}
</div>
{% endif %}
<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover" id="dataTables-fields">
			<thead>
				<tr>
					<th>Field</th>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script>
$(document).ready(function() {
	var table = $('#dataTables-fields').DataTable({
      "searching" : false,
      "ordering" : true,
      "serverSide" : true,
      "ajax" : "/-/v2/compute.json?o=catalog&f=fields",
      "lengthMenu" : [ Config.itemsPerPage || 5,10,25,50,100],
      "columns" : [
        { data: '_id' },
        { data: 'value' }
	  ]
    });

});
</script>
{% endblock %}

