{% extends "layout.html" %}

{% block content %}
<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover" id="dataTables-fields">
			<thead>
				<tr>
					<th>Field</th>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

		{% endblock %}


{% block scripts %}
<script>
$(document).ready(function() {
    $('#dataTables-fields').dataTable({
      serverSide: true,
	  ajax: '/compute.json?o=catalog&f=content',
	searching: false,
	  columns: [
        { data: '_id' },
        { data: 'value' }
    ]

    });
});
</script>
{% endblock %}

