{% extends "layout.html" %}

{% block content %}
<div id="keydata" class="row">
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-((keydata[0].icon)) fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">((keydata[0].value))</div>
						<div>((keydata[0].label))</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-((keydata[1].icon)) fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">((keydata[1].value))</div>
						<div>((keydata[1].label))</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-((keydata[2].icon)) fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">((keydata[2].value))</div>
						<div>((keydata[2].label))</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-((keydata[3].icon)) fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">((keydata[3].value))</div>
						<div>((keydata[3].label))</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="charts" class="row">

</div>
{% endblock %}

{% block scripts %}
<script src="assets/js/d3.v3.min.js" charset="utf-8"></script>
<script src="assets/js/c3.min.js"></script>
<script src="assets/js/superagent.js"></script>
<script src="assets/js/sugar.min.js"></script>
<script src="assets/js/dashboard.js"></script>
<script src="/assets/js/keydata.js"></script>
{% endblock %}
