/* Avoid bad offset to the right. */
.c3 {
    padding: 0;
    margin: 0;
    left: -6px;
}

#charts > .panel {
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: none;
    padding: 0;
    border: 0;
}

.dataTable tbody tr.selected td {
    background-color: #b0bed9;
}

.filter {
    margin: 3px 5px;
}

#facetsTabs tbody tr td {
    cursor: pointer;
}

.network {
    padding: 0;
    height: 600px;
}

.amcharts-main-div {
    top: -15px;
}